html, body {
    font-family: 'Kanit', sans-serif !important;
  }
  
  
  .signin-container {
    display: flex;
    height: 100vh;
  }
  
  .signin-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .signin-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  .signin-box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  
  input.form-control {
    border: 1px solid #D8BABD; /* กำหนดสีกรอบเส้น */
    border-radius: 30px;
  }

  textarea.form-control {
    border: 1px solid #D8BABD; /* กำหนดสีกรอบเส้น */
    border-radius: 30px;
  }
  
  .custom-modal {
    background-color: #FFF5F6; /* สีพื้นหลัง */
    border: 2px solid #D8BABD; /* สีขอบ */
    border-radius: 10px; /* ขอบมน */
  }
  
  .custom-header {
    background-color: #FFF5F6; /* สีพื้นหลัง */
    color: #5B166C; /* สีตัวอักษร */
    padding: 15px;
    border-bottom: 2px solid #D8BABD;
  }

  .text-custom {
    color: #5B166C; /* สีตัวอักษร */
  }

  .rounded-img{
    border-radius: 10px;
  }

  @media (min-width: 768px) {
    .signin-container {
      flex-wrap: nowrap;
      height: 100vh;
    }
  
    .signin-image, .signin-box {
      flex: 1; /* แบ่งพื้นที่อย่างเท่าเทียมในหน้าจอที่ใหญ่กว่า */
    }
  }

  